@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');

:root {
	--dark-color-a: #d35400;
	--dark-color-b: #e67e22;
	--light-color: #ecf0f1;
	--slight-color:#b2bec3;
	--success-color: #27ae60;
	--error-color: #e74c3c;
}

* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

body {
	font-family: 'Roboto', sans-serif;
	font-size: 16px;
	background: var(--slight-color);
	margin: auto;
}

ul {
	list-style: none;
}

a {
	text-decoration: none;
	color: var(--dark-color-a);
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}
li,.message .meta{
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}
li a{
  color: white;
  display: block;
  width: 100%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.btn {
	cursor: pointer;
	padding: 10px 12px;
	background: var(--light-color);
	color: var(--dark-color-a);
	border: 0;
	font-size: 17px;
}
.btn-send,.btn-out{
	border-radius: 50%;
}
#msg{
	border-radius: 15px;
	background: var(--light-color);
}

/* Chat Page */

.chat-container {
	max-width: 1100px;
	background:var(--light-color);
	margin: 30px auto;
	overflow: hidden;
}

.chat-header {
	background: var(--dark-color-a);
	color: #fff;
	padding: 15px;
	display: flex;
	align-items: center;
	justify-content: space-between;
}
.chat-header h1{
	display: flex;
	width: auto;
	flex-direction: row;
	align-items: flex-start;
	justify-content: space-between;
}
.chat-header h1 #room-name{
	text-transform: capitalize;
}
.chat-main {
	display: grid;
	grid-template-columns: 1fr 3fr;
}

.chat-sidebar {
	background: var(--dark-color-b);
	color: #fff;
	padding: 20px 20px 60px;
	overflow-y: scroll;
}

.chat-sidebar h2 {
	font-size: 20px;
	background: rgba(0, 0, 0, 0.1);
	padding: 10px;
	margin-bottom: 20px;
}

.chat-sidebar h3 {
	margin-bottom: 15px;
}

.chat-sidebar ul li {
	margin: 10px 0;
	text-transform: capitalize;
}
.chat-main ul li{
	margin: 10px auto;
	border-radius: 10px;
	padding: 5px;
	text-transform: capitalize;
}
.chat-messages {
	padding: 5px;
	height: 500px;
	overflow-y: scroll;
}
.chat-messages .msg-container{
	width: 100%;
	height: auto;
	overflow-y: hidden;
}
.msg-container .message {
	height: auto;
	max-width: 60%;
	float: left;
	margin-bottom: 15px;
	
}
.msg-container .message .text{
	padding:20px;
	background-color: #fff;
	border-top-right-radius: 15px;
	margin-bottom: 5px;
}
.msg-container .me{
	height: auto;
	max-width: 60%;
	float: right;
	margin-bottom: 15px;
}
.msg-container .me .text{
padding:20px;
background-color:  #c8d6e5;
border-top-left-radius: 15px;
border-bottom-left-radius: 15px;
margin-bottom: 5px;
}
.msg-container .bot{
	height: auto;
	width: 80%;
	margin: 10px auto;
}
.msg-container .bot .text{
	background-color: #636e72;
	color: white;
	border-radius: 50px;
	padding:10px;
	font-size: small;
	text-align: center;
}

.msg-container .message .meta,
.msg-container .me .meta,
.msg-container .bot .meta {
	font-size: 15px;
	font-weight: bold;
	color: var(--dark-color-b);
	opacity: 0.7;
	text-transform: capitalize;
	margin-bottom: 7px;
}

.msg-container .message span,
.msg-container .me span {
	color: #333;
	font-size: x-small;
	float: right;
	margin-bottom: -30px;
}
.msg-container .bot span {
	display: none;
}

.chat-form-container {
	padding: 20px 30px;
	background-color: var(--dark-color-a);
}

.chat-form-container form {
	display: flex;
}

.chat-form-container input[type='text'] {
	font-size: 16px;
	padding: 5px;
	height: 40px;
	flex: 1;
}

/* Join Page */
.join-container {
	max-width: 500px;
	margin: 80px auto;
	color: #fff;
}

.join-header {
	text-align: center;
	padding: 20px;
	background: var(--dark-color-a);
}

.join-main {
	padding: 30px 40px;
	background: var(--dark-color-b);
}

.join-main p {
	margin-bottom: 20px;
}

.join-main .form-control {
	margin-bottom: 20px;
}

.join-main label {
	display: block;
	margin-bottom: 5px;
}

.join-main input[type='text'] {
	font-size: 16px;
	padding: 5px;
	height: 40px;
	width: 100%;
}

.join-main select {
	font-size: 16px;
	padding: 5px;
	height: 40px;
	width: 100%;
}

.join-main .btn {
	margin-top: 20px;
	width: 100%;
}

@media (max-width: 700px) {
	.chat-main {
		display: block;
	}

	.chat-sidebar {
		display: none;
	}
}
